        h1, h2,
        h4,
        p {
            text-align: center;
            font-family: Verdana, sans-serif;
        }
        #Name{
            color: #f48f42;
        }
        #des{
            color: #ffdab5
        }
        .itemName:link{
            text-decoration: none;
            color: #008ba7;
        }
        .itemName:visited{
            color: #008ba7;
        }
        .itemName:hover{
            text-decoration: underline !important;
        }
        .itemName:active{
            color:#f46542;
        }
        .itemImg{
            display: block;
            margin-left: auto;
            margin-right: auto;
            border: 1px solid white;
            max-width: 500px;
        }
        .itemImg:hover {
            border: 1px solid lightgrey;
        }
        .itemValue::after {
            content: ".000 VND";
        }